<section class="p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-1 p-3">
                <h6>Number of students</h6>
                <h3>1232</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-2 p-3">
                <h6>Today's attendance</h6>
                <h3>1032 of 1232</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-3 p-3">
                <h6>View quiz report</h6>
                <h3>4</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-4 p-3">
                <h6>View quiz report</h6>
                <h3>English</h3>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card border-0">
                <h4 class="m-3">Attendance</h4>
                <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                    [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"></apx-chart> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-0">
                <h4 class="m-3">Today's quiz</h4>
                <!-- <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart> -->
            </div>
        </div>
    </div>
</section>