<div class="heading p-3">
    <div class="d-flex">
        <div class="col-md-6">
            <h5>Plan Videos</h5>
            <p class="sub-heading">Setup &#8226; <span>Plan Videos</span></p>
        </div>
        <div class="offset-3 col-md-3"  *ngIf="activeTab === 'view'">
            <input class="form-control search-bar" [(ngModel)]="searchBox" (ngModelChange)="onSearchChange()" placeholder="Search">
        </div>
    </div>
</div>




<div class="card-body pb-3">
    <ul class="nav nav-tabs px-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="multimedia-tab" data-bs-toggle="tab" data-bs-target="#multimedia"
                type="button" role="tab" aria-controls="multimedia" aria-selected="true"  (click)="setActiveTab('create')">Create</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lecture-tab" data-bs-toggle="tab" data-bs-target="#lecture" type="button"
                role="tab" aria-controls="lecture" aria-selected="false"  (click)="setActiveTab('view')">View</button>
        </li>
    </ul>

    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="multimedia" role="tabpanel" aria-labelledby="multimedia-tab">
            <h4 class="heading px-4"><img class="pb-1 me-2" src="../../../assets/icons/minus-squared.png"> Create
                Plan Video
            </h4>
            <div class="d-flex px-4">
                <div class="col-md-12 pe-2">
                    <div class="card px-4 py-3">
                        <div class="text-area">
                            <form [formGroup]="planVideoForm" (ngSubmit)="submitForm()">

                                <div class="row d-flex justify-content-between">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3" formControlName="boardId"
                                            (change)="getByFilterSubjectData()"
                                                [ngClass]="{'is-invalid':submitted && f.boardId.errors }">
                                                <option disabled value="null">Select Board</option>
                                                <option *ngFor="let board of allBoards" value="{{board.id}}">
                                                    {{board.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.boardId.errors" class="invalid-feedback">
                                                Board is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3" formControlName="mediumId"
                                            (change)="getByFilterSubjectData()"
                                                [ngClass]="{'is-invalid':submitted && f.mediumId.errors}">
                                                <option disabled value="null">Select Medium</option>
                                                <option *ngFor="let medium of allMediums" value="{{medium.id}}">
                                                    {{medium.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.mediumId.errors" class="invalid-feedback">
                                                Medium is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3" formControlName="classId"
                                             (change)="getByFilterSubjectData()"
                                                [ngClass]="{'is-invalid':submitted && f.classId.errors}">
                                                <option disabled value="null">Select Class</option>
                                                <option *ngFor="let class of allClasses" value="{{class.id}}">
                                                    {{class.className}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.classId.errors" class="invalid-feedback">
                                                Class is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3" formControlName="subjectId"
                                                [ngClass]="{'is-invalid':submitted && f.subjectId.errors}"
                                                (change)="getBookBySubjectId($event, false)">
                                                <option disabled value="null">Select Subject</option>
                                                <option *ngFor="let subject of allSubjects" value="{{subject.id}}">
                                                    {{subject.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.subjectId.errors" class="invalid-feedback">
                                                Subject is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3" formControlName="bookId"
                                                [ngClass]="{'is-invalid':submitted && f.bookId.errors}"
                                                (change)="getChapterByBookId($event, false)">
                                                <option disabled value="null">Select Book</option>
                                                <option *ngFor="let book of allBooks" value="{{book.id}}">{{book.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.bookId.errors" class="invalid-feedback">
                                                Book is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="chapterId"
                                                [ngClass]="{'is-invalid': submitted && f.chapterId.errors}"
                                                (change)="getLessonByChapterId($event)">
                                                <option value=""  selected>Select Chapter</option>
                                                <option *ngFor="let chapter of allChapters" value="{{chapter.id}}">
                                                    {{chapter.chapterName}}</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.chapterId.errors" class="invalid-feedback">
                                                Chapter is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="lessonId"
                                                [ngClass]="{'is-invalid': submitted && f.lessonId.errors}">
                                                <option value=""  selected>Select Lesson</option>
                                                <option *ngFor="let lesson of allLessons" value="{{lesson.id}}">
                                                    {{lesson.name}}</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.lessonId.errors" class="invalid-feedback">
                                                Lesson is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <input class="form-control" formControlName="name"
                                            placeholder="Enter video title"
                                            [ngClass]="{'is-invalid':submitted && f.name.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                            <div *ngIf="f.name.errors.required">Title is required</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control" type="date" formControlName="date"
                                            placeholder="Enter date"
                                            [ngClass]="{'is-invalid':submitted && f.date.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.date.errors">
                                            <div *ngIf="f.date.errors.required">Date is required</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control" type="time" formControlName="time"
                                            placeholder="Enter time"
                                            [ngClass]="{'is-invalid':submitted && f.time.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.time.errors">
                                            <div *ngIf="f.time.errors.required">Time is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="type"
                                                [ngClass]="{'is-invalid': submitted && f.type.errors}">
                                                <option value="" disabled selected>Select type</option>
                                                <option value="video">Video</option>
                                                <option value="curriculum">Curriculum Video</option>
                                                <option value="quiz">Quiz</option>
                                                <option value="youtube">Youtube Path</option>
                                                <option value="live">Live VC and Streaming</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.type.errors" class="invalid-feedback">
                                                Type is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="studioName"
                                                [ngClass]="{'is-invalid': submitted && f.studioName.errors}">
                                                <option value="" disabled selected>Select studio</option>
                                                <option *ngFor="let studio of allStudios" value="{{studio.id}}">
                                                    {{studio.studioName}}</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.studioName.errors" class="invalid-feedback">
                                                Studio is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control" formControlName="liveStreamingPath"
                                            placeholder="Enter liveStreaming Path"
                                            [ngClass]="{'is-invalid':submitted && f.liveStreamingPath.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.liveStreamingPath.errors">
                                            <!-- <div *ngIf="submitted &&  f.liveStreamingPath.errors" class="invalid-feedback"> -->
                                                Live streaming path is required.
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <input class="form-control" type="text" formControlName="orderId"
                                            placeholder="Enter order"
                                            [ngClass]="{'is-invalid':submitted && f.orderId.errors }"
                                            (wheel)="disableScroll($event)" min="1" step="1">
                                            <div *ngIf="submitted && f.orderId.errors" class="invalid-feedback">
                                                <div *ngIf="f.orderId.errors?.required">Order is required</div>
                                                <div *ngIf="f.orderId.errors?.pattern">Order No. must be a whole number & greater than or equal to 1</div>
                                            </div> 
                                    </div>
                                    <div class="col-md-10">
                                        <!-- <label for="" *ngIf="formType == 'Update'" class="mt-3">Description</label> -->
                                        <textarea formControlName="description" class="form-control"
                                            placeholder="Enter Description" 
                                            [ngClass]="{'is-invalid': submitted && f.description.errors, 'mt-0': formType == 'Update', 'mt-3': formType != 'Update'}"></textarea>
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                            <div *ngIf="f.description.errors.required">Description is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="from-group action-buttons mt-5">
                                    <button class="btn save-btn">Save</button>
                                    <button class="btn cancel-btn" type="button" (click)="cancel()">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="lecture" role="tabpanel" aria-labelledby="lecture-tab">
            <h4 class="heading px-4">
                <img class="pb-1 me-2" src="../../../assets/icons/minus-squared.png">
                Plan Videos View
            </h4>
        
            <div class="card mx-4 p-4">
                <div class="row">
                    <!-- Board -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="boardId" (change)="fetchSubjects()">
                            <option value="" disabled selected>Select Board</option>
                            <option *ngFor="let board of allBoards" [value]="board.id">{{ board.name }}</option>
                        </select>
                    </div>
        
                    <!-- Medium -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="mediumId" (change)="fetchSubjects()">
                            <option value="" disabled selected>Select Medium</option>
                            <option *ngFor="let medium of allMediums" [value]="medium.id">{{ medium.name }}</option>
                        </select>
                    </div>
        
                    <!-- Class -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="classId" (change)="fetchSubjects()">
                            <option value="" disabled selected>Select Class</option>
                            <option *ngFor="let class of allClasses" [value]="class.id">{{ class.className }}</option>
                        </select>
                    </div>
        
                    <!-- Subject -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="subjectId" (change)="fetchBooks()">
                            <option value="" disabled selected>Select Subject</option>
                            <option *ngFor="let subject of allSubjects" [value]="subject.id">{{ subject.name }}</option>
                        </select>
                    </div>
        
                    <!-- Book -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="bookId" (change)="fetchChapters()">
                            <option value="" disabled selected>Select Book</option>
                            <option *ngFor="let book of allBooks" [value]="book.id">{{ book.name }}</option>
                        </select>
                    </div>
        
                    <!-- Chapter -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="chapterId" (change)="fetchLessons()">
                            <option value=""  selected>Select Chapter</option>
                            <option *ngFor="let chapter of allChapters" [value]="chapter.id">{{ chapter.chapterName }}</option>
                        </select>
                    </div>
                    
                     <!-- Lesson -->
                    <div class="col-md-2 mb-3">
                        <select class="form-select" [(ngModel)]="lessonId">
                          <option value=""  selected>Select Lesson</option>
                          <option *ngFor="let lesson of allLessons" [value]="lesson.id">{{ lesson.name }}</option>
                        </select>
                    </div>
                      
                    <!-- Filter Button -->
                    <div class="col mt-2">
                        <button class="btn save-btn float-end" (click)="go()"
                        [disabled]="!boardId || !mediumId || !classId || !subjectId || !bookId">Go</button>
                    </div>
                </div>
                <hr>
        
                <!-- 🔹 Table Section -->
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <table class="table table-responsive table-hover" *ngIf="allPlanVideos && allPlanVideos.length > 0">
                            <thead class="thead-light">
                                <tr>
                          
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allPlanVideos | paginate: paginationConfig">
                                    <td>{{ data.name }}</td>
                                
                                    <td>{{ data.date }}</td>
                                    <td>{{ data.time }}</td>
                                    <td>
                                        <div class="table-action-btn">
                                            <button class="edit" type="button" (click)="getPlanVideoById(data);" 
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"><i
                                                class="bi bi-pencil-fill" ></i></button>
                                        &nbsp;
                                        <button class="delete" type="button" (click)="deletePlanVideo(data)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <!-- Pagination -->
                        <div class="row" *ngIf="allPlanVideos && allPlanVideos.length > 0">
                            <div class="col-md-2">
                                <select class="form-select" (change)="selectPaginationSize($event)">
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            <div class="col-md-10 pt-2">
                                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                            </div>
                        </div>
        
                        <div class="text-center" *ngIf="allPlanVideos?.length == 0 || !allPlanVideos">
                            No Plan Videos Found
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Modal -->
            <div class="modal right fade" id="exampleModal" data-bs-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen float-end">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Plan</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="planVideoForm" (ngSubmit)="submitForm()">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Board</label>
                                            <select class="form-select mt-3" formControlName="boardId"
                                                [ngClass]="{ 'is-invalid': submitted && f.boardId.errors }">
                                                <option disabled value="null">Select Board</option>
                                                <option *ngFor="let board of allBoards" value="{{board.id}}">
                                                    {{board.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.boardId.errors" class="invalid-feedback">
                                                <div *ngIf="f.boardId.errors.required">Board is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Medium</label>
                                            <select class="form-select mt-3" formControlName="mediumId" 
                                                [ngClass]="{ 'is-invalid': submitted && f.mediumId.errors }">
                                                <option disabled value="null">Select Medium</option>
                                                <option *ngFor="let medium of allMediums" value="{{medium.id}}">
                                                    {{medium.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.mediumId.errors" class="invalid-feedback">
                                                <div *ngIf="f.mediumId.errors.required">Medium is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mt-2">
                                            <label for="">Class</label>
                                            <select class="form-select mt-3" formControlName="classId" (change)="getByFilterSubjectData()"
                                                [ngClass]="{ 'is-invalid': submitted && f.classId.errors }">
                                                <option disabled value="null">Select Class</option>
                                                <option *ngFor="let class of allClasses" value="{{class.id}}">
                                                    {{class.className}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.classId.errors" class="invalid-feedback">
                                                <div *ngIf="f.classId.errors.required">Class is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mt-2">
                                            <label for="">Subject</label>
                                            <select class="form-select mt-3" formControlName="subjectId"
                                                [ngClass]="{ 'is-invalid': submitted && f.subjectId.errors }"
                                                (change)="getBookBySubjectId($event, false)">
                                                <option disabled value="null">Select Subject</option>
                                                <option *ngFor="let subject of allSubjects" value="{{subject.id}}">
                                                    {{subject.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.subjectId.errors" class="invalid-feedback">
                                                <div *ngIf="f.subjectId.errors.required">Subject is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mt-2">
                                            <label for="">Book</label>
                                            <select class="form-select mt-3" formControlName="bookId"
                                                [ngClass]="{ 'is-invalid': submitted && f.bookId.errors }"
                                                (change)="getChapterByBookId($event, false)">
                                                <option disabled value="null">Select Book</option>
                                                <option *ngFor="let book of allBooks" value="{{book.id}}">{{book.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.bookId.errors" class="invalid-feedback">
                                                <div *ngIf="f.bookId.errors.required">Book is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mt-2">
                                            <label for="">Chapter</label>
                                            <select class="form-select mt-3" formControlName="chapterId"
                                            (change)="getLessonByChapterId($event)"
                                                [ngClass]="{ 'is-invalid': submitted && f.chapterId.errors }">
                                                <option  value="">Select Chapter</option>
                                                <option *ngFor="let chapter of allChapters" value="{{chapter.id}}">
                                                    {{chapter.chapterName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.chapterId.errors" class="invalid-feedback">
                                                <div *ngIf="f.chapterId.errors.required">Class is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mt-2">
                                          <label for="">Lesson</label>
                                          <select class="form-select mt-3" formControlName="lessonId"
                                            [ngClass]="{ 'is-invalid': submitted && f.lessonId.errors }">
                                            <option  value="">Select Lesson</option>
                                            <option *ngFor="let lesson of allLessons" value="{{lesson.id}}">
                                              {{lesson.name}}
                                            </option>
                                          </select>
                                          <div *ngIf="submitted && f.lessonId.errors" class="invalid-feedback">
                                            <div *ngIf="f.lessonId.errors.required">Lesson is required</div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                </div>
                                <hr>

                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <input class="form-control" formControlName="name"
                                            placeholder="Enter video title"
                                            [ngClass]="{'is-invalid':submitted && f.name.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                            <div *ngIf="f.name.errors.required">Title is required</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control" type="date" formControlName="date"
                                            placeholder="Enter date"
                                            [ngClass]="{'is-invalid':submitted && f.date.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.date.errors">
                                            <div *ngIf="f.date.errors.required">Date is required</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control" type="time" formControlName="time"
                                            placeholder="Enter time"
                                            [ngClass]="{'is-invalid':submitted && f.name.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                            <div *ngIf="f.name.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="type"
                                                [ngClass]="{'is-invalid': submitted && f.type.errors}">
                                                <option value="" disabled selected>Select Type</option>
                                                <option value="video">Video</option>
                                                <option value="curriculum">Curriculum Video</option>
                                                <option value="quiz">Quiz</option>
                                                <option value="youtube">Youtube Path</option>
                                                <option value="live">Live VC and Streaming</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.type.errors" class="invalid-feedback">
                                                Lesson is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="studioName"
                                                [ngClass]="{'is-invalid': submitted && f.studioName.errors}">
                                                <option value="" disabled selected>Select studio</option>
                                                <option *ngFor="let studio of allStudios" value="{{studio.id}}">
                                                    {{studio.studioName}}</option>
                                            </select>
                                            <div *ngIf="submitted &&  f.studioName.errors" class="invalid-feedback">
                                                Studio is required.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-select mt-3 " formControlName="liveStreamingPath"
                                                [ngClass]="{'is-invalid': submitted && f.liveStreamingPath.errors}">
                                                <option value="" disabled selected>Select liveStreamingPath</option>
                                                <option *ngFor="let studio of allStudios" value="{{studio.id}}">
                                                    {{studio.studioName}}</option> 
                                            </select> 
                                            <div *ngIf="submitted &&  f.studioName.errors" class="invalid-feedback">
                                                liveStreamingPath is required.
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-md-2">
                                        <input class="form-control" type="text" formControlName="orderId"
                                            placeholder="Enter order"
                                            [ngClass]="{'is-invalid':submitted && f.orderId.errors }">
                                        <div class="invalid-feedback" *ngIf="submitted && f.orderId.errors">
                                            <div *ngIf="f.orderId.errors.required">Order is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- <label for="" *ngIf="formType == 'Update'" class="mt-3">Description</label> -->
                                    <textarea formControlName="description" class="form-control"
                                        placeholder="Enter Description" 
                                        [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                                <div class="from-group float-end action-buttons mt-5">
                                    <button class="btn save-btn">Update</button>
                                    <button class="btn cancel-btn" type="button" (click)="cancel()" #closebutton data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>